/* Color Tokens */

:root {
  --color-white: oklch(100% 0 0);
  --color-black: oklch(5% 0 0);

  --color-neutral-50: oklch(98.5% 0 0);
  --color-neutral-100: oklch(97% 0 0);
  --color-neutral-200: oklch(92.2% 0 0);
  --color-neutral-300: oklch(87% 0 0);
  --color-neutral-400: oklch(70.8% 0 0);
  --color-neutral-500: oklch(55.6% 0 0);
  --color-neutral-600: oklch(43.9% 0 0);
  --color-neutral-700: oklch(37.1% 0 0);
  --color-neutral-800: oklch(26.9% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --color-neutral-950: oklch(14.5% 0 0);
}

/*
 * Color Scheme: Light (default)
 */
:root,
[data-color-scheme="light"] {
  --color-bg: var(--color-neutral-50);
  --color-bg-alt: var(--color-neutral-100);

  --color-border: var(--color-neutral-200);
  --color-border-strong: var(--color-neutral-600);

  --color-foreground: var(--color-neutral-950);
  --color-foreground-secondary: var(--color-neutral-700);

  --color-accent: var(--color-neutral-950);
  --color-accent-hover: var(--color-neutral-800);
  --color-on-accent: var(--color-neutral-50);
  --color-on-accent-hover: var(--color-neutral-50);

  --button-primary-bg: var(--color-accent);
  --button-primary-label: var(--color-on-accent);
  --button-primary-border: var(--color-accent);
  --button-primary-hover-bg: var(--color-accent-hover);
  --button-primary-hover-label: var(--color-on-accent-hover);
  --button-primary-hover-border: var(--color-accent-hover);

  --button-secondary-bg: var(--color-neutral-50);
  --button-secondary-label: var(--color-neutral-950);
  --button-secondary-border: var(--color-neutral-200);
  --button-secondary-hover-bg: var(--color-neutral-100);
  --button-secondary-hover-label: var(--color-neutral-950);
  --button-secondary-hover-border: var(--color-neutral-200);

  --button-ghost-bg: transparent;
  --button-ghost-label: currentColor;
  --button-ghost-border: transparent;
  --button-ghost-hover-bg: oklch(0% 0 0 / 0.05);
  --button-ghost-hover-label: currentColor;
  --button-ghost-hover-border: transparent;

  --button-text-bg: transparent;
  --button-text-label: currentColor;
  --button-text-border: transparent;
  --button-text-hover-bg: transparent;
  --button-text-hover-label: currentColor;
  --button-text-hover-border: transparent;

  /* --color-positive: oklch(62.7% 0.194 149.214);
    --color-negative: oklch(57.7% 0.245 27.325); */
}

/* 
 * Color Scheme: Dark
 */
[data-color-scheme="dark"] {
  --color-bg: var(--color-black);
  --color-bg-alt: var(--color-neutral-800);

  --color-border: var(--color-neutral-800);
  --color-border-strong: var(--color-neutral-600);

  --color-foreground: var(--color-neutral-50);
  --color-foreground-secondary: var(--color-neutral-400);

  --color-accent: var(--color-white);
  --color-accent-hover: var(--color-neutral-300);
  --color-on-accent: var(--color-neutral-950);
  --color-on-accent-hover: var(--color-neutral-950);

  --button-primary-bg: var(--color-accent);
  --button-primary-label: var(--color-on-accent);
  --button-primary-border: var(--color-accent);
  --button-primary-hover-bg: var(--color-accent-hover);
  --button-primary-hover-label: var(--color-on-accent-hover);
  --button-primary-hover-border: var(--color-accent-hover);

  --button-secondary-bg: var(--color-neutral-900);
  --button-secondary-label: var(--color-neutral-50);
  --button-secondary-border: var(--color-neutral-800);
  --button-secondary-hover-bg: var(--color-neutral-800);
  --button-secondary-hover-label: var(--color-neutral-50);
  --button-secondary-hover-border: var(--color-neutral-800);

  --button-ghost-bg: transparent;
  --button-ghost-label: currentColor;
  --button-ghost-border: transparent;
  --button-ghost-hover-bg: oklch(100% 0 0 / 0.05);
  --button-ghost-hover-label: currentColor;
  --button-ghost-hover-border: transparent;

  --button-text-bg: transparent;
  --button-text-label: currentColor;
  --button-text-border: transparent;
  --button-text-hover-bg: transparent;
  --button-text-hover-label: currentColor;
  --button-text-hover-border: transparent;

  /* --color-positive: oklch(79.2% 0.209 151.711);
    --color-negative: oklch(70.4% 0.191 22.216); */
}

/* 
 * Color Scheme
 */

[data-color-scheme] {
  background-color: var(--color-bg);
  color: var(--color-foreground);
  border-color: var(--color-border);

  &[data-bg-alt] {
    background-color: var(--color-bg-alt);
  }
}
